.container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 6px;
  margin: 1rem auto;
  padding: 1rem;
  max-width: 600px;
  font-family: system-ui;
}

.content {
  display: flex;
  align-items: center;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  width: 90px;
  margin: 1rem;
  flex-shrink: 0;
  flex-grow: 0;
}

.avatar img {
  width: 60px;
  border-radius: 100px;
}

.post-body {
  padding: 0.5rem;
  flex-shrink: 1;
  flex-grow: 1;
}

.post-img {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  flex-shrink: 0;
  flex-grow: 0;
}

.post-img img {
  min-width: 100%;
  min-height: 100%;
  max-width: 120%;
  max-height: 120%;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.toot-stats span {
  margin: 0 0.5rem;
}
